/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
 };
&sk {
     release-after-ms = <2000>;
     quick-release;
 };


/ { 
    combos {
        compatible = "zmk,combos";
		combo_esc { 
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        };
		combo_tab { 
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp TAB>;
        };
    };

behaviors {
	hm: homerow_mods {
		compatible = "zmk,behavior-hold-tap";
		label = "HOMEROW_MODS";
		#binding-cells = <2>;
		tapping-term-ms = <240>;
		quick_tap_ms = <0>;
		flavor = "tap-preferred";
		bindings = <&kp>, <&kp>;
	};
	hs: homerow_shifts {
		compatible = "zmk,behavior-hold-tap";
		label = "HOMEROW_SHIFTS";
		#binding-cells = <2>;
		tapping-term-ms = <150>;
		quick_tap_ms = <0>;
		flavor = "balanced";
		bindings = <&kp>, <&kp>;
	};
	td: tapdance {
		compatible = "zmk,behavior-hold-tap";
		label = "TAPDANCE";
		#binding-cells = <2>;
		tapping-term-ms = <190>;
		quick_tap_ms = <0>;
		flavor = "tap-preferred";
		bindings = <&kp>, <&kp>;
	};
};

keymap {
	compatible = "zmk,keymap";
	
 default_layer {
            label = "DEFAULT";
            bindings = <
&lt 3 ESC             &kp Q  &kp W      &kp E      &kp R            &kp T      &kp Y       &kp U        &kp I      &kp O      &kp P     &mt LEFT_SHIFT MINUS
&mt LEFT_SHIFT ENTER  &kp A  &kp S      &kp D      &kp F            &kp G      &kp H       &kp J        &kp K      &kp L      &kp SEMI  &kp SQT
&kp CAPS              &kp Z  &kp X      &kp C      &kp V            &kp B      &kp N       &kp M        &kp COMMA  &kp DOT    &kp FSLH  &kp BSLH
                             &kp LC(C)  &kp LC(V)  &kp BSPC         &kp SPACE  &lt 2 LEFT  &lt 1 RIGHT  &kp LBKT   &kp RBKT
                             &kp GRAVE  &kp LALT   &mt LCTRL LSHFT  &lt 1 DEL  &kp UP      &kp EQUAL    &kp DOWN   &kp RCTRL
            >;
        };

        number_layer {
            label = "NUMBER";
            bindings = <
&kp TAB    &kp PLUS         &kp N7     &kp N8          &kp N9    &kp KP_SLASH  &kp F12         &kp F7     &kp F8  &kp F9  &kp F10  &kp F11
&kp ENTER  &kp MINUS        &kp N4     &kp N5          &kp N6    &kp KP_DOT    &macro_email_q  &kp F4     &kp F5  &kp F6  &none    &none
&kp ENTER  &kp KP_MULTIPLY  &kp N1     &kp N2          &kp N3    &kp N0        &macro_phone    &kp F1     &kp F2  &kp F3  &none    &none
                            &kp LC(C)  &mt LALT LC(V)  &kp BSPC  &kp SPACE     &kp LEFT        &kp RIGHT  &none   &none
                            &trans     &to 0           &to 0     &trans        &kp UP          &kp DOWN   &none   &none
            >;
        };

        symbol_layer {
            label = "SYMBOL";
            bindings = <
&kp C_VOL_UP  &kp C_VOL_DN  &kp AMPS  &kp STAR   &kp LPAR   &kp RPAR   &none  &none     &kp UP    &none      &none  &none
&kp C_BRI_UP  &kp C_BRI_DN  &kp DLLR  &kp PRCNT  &kp CARET  &kp UNDER  &none  &kp LEFT  &kp DOWN  &kp RIGHT  &none  &none
&none         &kp GRAVE     &kp EXCL  &kp AT     &kp HASH   &kp EQUAL  &none  &none     &none     &none      &none  &none
                            &none     &none      &kp C_RW   &kp C_FF   &none  &none     &none     &none
                            &none     &none      &kp LSHFT  &none      &none  &none     &none     &none
            >;
        };

        hotkey_layer {
            label = "HOTKEY";
            bindings = <
&none       &bt BT_SEL 0  &bt BT_SEL 1       &bt BT_SEL 2      &bt BT_SEL 3       &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&sys_reset  &none         &none              &none             &none              &out OUT_USB  &out OUT_USB  &none         &none         &none         &none         &sys_reset
&none       &none         &ext_power EP_TOG  &ext_power EP_ON  &ext_power EP_OFF  &out OUT_BLE  &out OUT_BLE  &none         &none         &none         &none         &none
                          &none              &none             &none              &none         &none         &none         &none         &none
                          &none              &none             &none              &none         &none         &none         &none         &none
		>;
	};
};
};
